.App {
  text-align: center;
  background: linear-gradient(180deg, #414535 10%, #618985 90%);
  min-height: 100vh;
}

h1 {
  padding: 2rem;
  color: aliceblue;
  text-shadow: 2.5px 2.5px #96BBBB99;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5%;
  background-color: #414535;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid #96BBBB;
}

.spacer {
  height: 75px;
  width: 100px
}
